<!-- Contact form using Formspree -->
<form action="https://formspree.io/me@jonahsnider.ninja" method="POST">
    <!--First row-->
    <div class="row">
        <!--First column-->
        <div class="col-md-6">
            <div class="md-form">
                <input type="email" id="email" name="_replyto" class="form-control validate" required>
                <label for="email">Email</label>
            </div>
        </div>
        <!--First column-->

        <!--Second column-->
        <div class="col-md-6">
            <div class="md-form">
                <input type="text" name="name" id="name" class="form-control validate" required>
                <label for="name">Name</label>
            </div>
        </div>
    </div>
    <!--Second column-->
    <!--/.First row-->

    <!--Second row-->
    <div class="row">
        <!--First column-->
        <div class="col-md-12">

            <div class="md-form">
                <textarea type="text" id="message"  name="message" class="md-textarea" required></textarea>
                <label for="message">Message</label>
            </div>

        </div>
    </div>
    <!--/.Second row-->

    <button class="btn blue-gradient btn-lg" type="submit" id="messageSubmitButton">Send</button>
</form>
<!-- Contact form using Formspree -->