<!--Footer-->
<footer class="page-footer center-on-small-only unique-color-dark pt-0">
  <section id="social-icons" class="text-center">
    <!-- Social buttons -->
    <a type="button" class="btn-floating btn-tw" href="https://twitter.com/thepizzafox">
      <i class="fab fa-twitter"></i>
    </a>
    <a type="button" class="btn-floating btn-git" href="https://steamcommunity.com/id/pizza_fox">
      <i class="fab fa-steam-symbol steamyboi"></i>
    </a>
    <a type="button" class="btn-floating btn-lg btn-li" href="https://www.linkedin.com/in/jonahsnider/">
      <i class="fab fa-linkedin"></i>
    </a>
    <a type="button" class="btn-floating btn-lg btn-email" href="mailto:me@jonahsnider.ninja">
      <i class="far fa-envelope"></i>
    </a>
    <a type="button" class="btn-floating btn-lg btn-git" href="https://github.com/PizzaFox">
      <i class="fab fa-github"></i>
    </a>
    <a type="button" class="btn-floating keybase" href="https://keybase.io/pizzafox">
      <i class="fas fa-lock-open"></i>
    </a>
    <a type="button" class="btn-floating orange" href="bitcoin:1DvaX5Jo89RBUeZLgoGojxrMWcMwFpfDv">
      <i class="fab fa-bitcoin"></i>
    </a>
    <!-- Social buttons -->
  </section>
  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      Copyright 2017 Jonah Snider
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->