<footer class="footer">
	<div class="container">
		<div class="content has-text-centered">
			<p>
				Copyright 2018
				<a href="https://jonahsnider.ninja">
					Jonah Snider
				</a>
				<br>
				<a href="https://www.linkedin.com/in/jonahsnider/">
					LinkedIn
				</a> / <a href="mailto:me@jonahsnider.ninja">
					Email
				</a> / <a href="https://github.com/PizzaFox">
					GitHub
				</a> / <a href="https://keybase.io/pizzafox">
					Keybase
				</a>
				<br>
				<a href="https://bulma.io">
					<img src="assets/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
				</a>
			</p>
		</div>
	</div>
</footer>

<!-- Netlify CMS -->
<script>
	if (window.netlifyIdentity) {
		window.netlifyIdentity.on("init", user => {
			if (!user) {
				window.netlifyIdentity.on("login", () => {
					document.location.href = "/admin/";
				});
			}
		});
	}
</script>
<!--/.Netlify CMS -->
