<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="theme-color" content="#00d1b2">
	<link rel="shortcut icon" href="assets/images/favicon.ico"/>
	{% seo %}

	<link href="assets/css/bulma.min.css" rel="stylesheet">
	<script src="assets/js/fontawesome.min.js"></script>
	<script src="assets/js/netlify-identity-widget.min.js"></script>
	<script src="assets/js/main.min.js"></script>
</head>
