<nav class="navbar is-{{ site.data.settings.color }}">
	<div class="container">
		<div class="navbar-brand">
			<a href="{{ site.url }}" class="navbar-item">
				{{ site.data.settings.brand }}
			</a>

			<div class="navbar-burger" data-target="navMenu">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div id="navMenu" class="navbar-menu">
			<div class="navbar-end">
				{% assign links = site.data.navigation.items %}
				{% for link in links %}
					{% assign class = nil %}
					{% if page.url contains link.url %}
						{% assign class = ' is-active' %}
					{% endif %}
					<a class="navbar-item{{ class }}" href="{{ link.url }}">
						{{ link.title }}
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
</nav>
