<section id="social-icons" class="text-center">
    <!-- Social buttons -->
    <a type="button" class="btn-floating btn-lg btn-li" href="https://www.linkedin.com/in/jonahsnider/">
        <i class="fab fa-linkedin"></i>
    </a>
    <a type="button" class="btn-floating btn-lg btn-email" href="mailto:me@jonahsnider.ninja">
        <i class="far fa-envelope"></i>
    </a>
    <a type="button" class="btn-floating btn-lg btn-git" href="https://github.com/PizzaFox">
        <i class="fab fa-github"></i>
    </a>
    <a type="button" class="btn-floating btn-lg keybase" href="https://keybase.io/pizzafox">
        <i class="fas fa-key"></i>
    </a>
    <!-- Social buttons -->
</section>
