<section id="social-icons" class="text-center">
    <!-- Social buttons -->
    <a type="button" class="btn-floating btn-tw waves-effect" href="https://twitter.com/thepizzafox">
        <i class="fab fa-twitter"></i>
    </a>
    <a type="button" class="btn-floating btn-git" href="https://steamcommunity.com/id/pizza_fox">
        <i class="fab fa-steam-symbol"></i>
    </a>
    <a type="button" class="btn-floating btn-lg btn-li" href="https://www.linkedin.com/in/jonahsnider/">
        <i class="fab fa-linkedin"></i>
    </a>
    <a type="button" class="btn-floating btn-lg btn-email" href="mailto:me@jonahsnider.ninja">
        <i class="far fa-envelope"></i>
    </a>
    <a type="button" class="btn-floating btn-lg btn-git" href="https://github.com/PizzaFox">
        <i class="fab fa-github"></i>
    </a>
    <a type="button" class="btn-floating keybase" href="https://keybase.io/pizzafox">
        <i class="fas fa-key"></i>
    </a>
    <a type="button" class="btn-floating orange waves-effect" href="bitcoin:1DvaX5Jo89RBUeZLgoGojxrMWcMwFpfDv">
        <i class="fab fa-bitcoin"></i>
    </a>
    <a type="button" class="btn-floating fiverr waves-effect white-text font-weight-bold" href="https://www.fiverr.com/s2/ab31be34e6">
        fi
    </a>
    <!-- Social buttons -->
</section>
