$header-subtitle-duration: 1s;
$header-underline-duration: 0.7s;
$all-header-duration: $header-subtitle-duration + $header-underline-duration;

$button-duration: 0.75s;
$all-button-duration: $button-duration;

$all-duration: $all-button-duration + $all-header-duration;
