@use '../styles/theme.scss';

$color-foreground: #000000;
$color-background: #ffbbcc;

:root {
	--color-foreground: #{$color-foreground};
	--color-background: #{$color-background};
}

@include theme.theme('dark') {
	--color-foreground: #{$color-background};
	--color-background: #{$color-foreground};
}

html {
	background-color: var(--color-background);
	color: var(--color-foreground);
}
