@use "sass:color";
@use '../styles/theme.scss';

$color-foreground: #000000;
$color-background: #ffbbcc;

:root {
	$color-text: black;

	--color-foreground: #{$color-foreground};
	--color-background: #{$color-background};
	--color-foreground-light: #{color.adjust($color-foreground, $alpha: -0.75)};
	--color-text: #{$color-text};
	--color-text-muted: #{color.adjust($color-text, $alpha: -0.4)};
}

@include theme.theme('dark') {
	$color-text: white;

	--color-foreground: #{$color-background};
	--color-background: #{$color-foreground};
	--color-foreground-light: #{color.adjust($color-background, $alpha: -0.75)};
	--color-text: #{$color-text};
	--color-text-muted: #{color.adjust($color-text, $alpha: -0.2)};
}

html {
	background-color: var(--color-background);
	color: var(--color-text);

	&::-webkit-scrollbar-track,
	&::-webkit-scrollbar {
		background-color: var(--color-background);
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--color-foreground);
	}
}

*::selection {
	background-color: var(--color-foreground);
	color: var(--color-background);
}
