@import "tailwindcss";

@theme inline {
	--color-white: var(--color-zinc-100);
	--color-black: var(--color-zinc-900);

	--color-pink-500: #ffbbcc;

	--color-dark-500: #17171c;

	--font-display: var(--font-rubik), sans-serif;
	--font-body: var(--font-inter), sans-serif;
}

:root {
	&::-webkit-scrollbar,
	&::-webkit-scrollbar-track {
		@apply bg-pink-500 dark:bg-dark-500;
	}

	&::-webkit-scrollbar-thumb {
		@apply rounded-l-md bg-dark-500 dark:bg-pink-500;
	}
}
