#social-buttons:hover {
    color: #C62828 !important;
}
#social-buttons-footer:hover {
    color: #212121 !important;
}

/* change form color */

  /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #42A5F5;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #42A5F5;
     box-shadow: 0 1px 0 0 #42A5F5;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
        
/* email */ 
.input-field input[type=email]:focus + label {
     color: #42A5F5;
   }
   /* label underline focus color */
   .input-field input[type=email]:focus {
     border-bottom: 1px solid #42A5F5;
     box-shadow: 0 1px 0 0 #42A5F5;
   }
   /* valid color */
   .input-field input[type=email].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=email].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }

/* text area */
#textarea1{
  border-bottom: 1px solid #000;
     
}
#textarea1:focus + label{ /*este es el que le da color a message*/
  color:#42A5F5
}
#textarea1:focus{
 border-bottom: 1px solid #42A5F5;
}

/* resposive text */
h3 {
  font-size: 5.5vh;
}