@use '../styles/animations.scss';
@use '../styles/breakpoints.scss';

$total-animation-duration: animations.$all-button-duration + animations.$all-header-duration;
$total-animation-delay: animations.$all-header-duration - 0.75s;
$header-animation-delay-percentage: '#{100 * $total-animation-delay/$total-animation-duration}%';

.button-group {
	display: flex;

	flex-flow: column nowrap;

	margin: 1em 0;

	@include breakpoints.phone {
		margin-left: -1em;
	}

	@include breakpoints.tablet {
		flex-flow: row wrap;
	}
}

.animated {
	@keyframes fade {
		0% {
			opacity: 0;
		}

		#{$header-animation-delay-percentage} {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	> a {
		animation: {
			name: fade;
		}
	}

	@for $i from 1 through 4 {
		> :nth-child(#{$i}) {
			animation: {
				duration: $total-animation-duration + (0.25s * $i - 1);
			}
		}
	}
}
