@import '../styles/breakpoints.scss';
@import '../styles/scaling.scss';

.button-group {
	display: flex;

	margin: spacer(1) 0;

	@include breakpoint-xs {
		flex-flow: column nowrap;
	}

	@include breakpoint-sm {
		flex-flow: row wrap;
		margin-left: -$button-margin;
	}

	@include breakpoint-xxl {
		margin: spacer(2) 0;
	}

	@include breakpoint-xxxl {
		margin: spacer(4) 0;
	}
}
