@import '../styles/breakpoints.scss';

.button-group {
	display: flex;

	flex-flow: column nowrap;

	margin: 1em 0;

	@include breakpoint-phone {
		margin-left: -1em;
	}

	@include breakpoint-tablet {
		flex-flow: row wrap;
	}
}
