@use '../styles/breakpoints.scss';

.button {
	text-decoration: none;
	text-align: center;
	font-family: 'Inter', sans-serif;

	padding: 1em 2.5em;
	margin: 1em 0;

	@include breakpoints.phone {
		margin: 1em;
		flex: 0 0 25%;
	}

	@include breakpoints.laptop {
		flex: inherit;
		margin: 0 1em;
	}

	transition: color, background-color 150ms linear;

	color: var(--color-foreground);
	border: 0.25rem solid var(--color-foreground);

	&:hover {
		color: var(--color-background);
		background-color: var(--color-foreground);
	}
}
