@import '../styles/breakpoints.scss';

.container {
	padding: 4%;

	@include breakpoint-tablet {
		padding: 8%;
	}

	@include breakpoint-laptop {
		padding: 0 12%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	@include breakpoint-desktop {
		padding: 0 18%;
	}
}
