@use '../styles/breakpoints.scss';

.container {
	padding: 4%;

	@include breakpoints.tablet {
		padding: 8%;
	}

	@include breakpoints.laptop {
		padding: 0 12%;
		display: flex;
		flex-direction: column;
	}

	@include breakpoints.desktop {
		padding: 0 18%;
	}
}

.main {
	min-height: 100vh;

	@include breakpoints.laptop {
		justify-content: center;
	}
}
