.experience {
	margin-bottom: 1em;
}

.link {
	transition: opacity 150ms ease;

	font-weight: 100;

	color: var(--color-text-muted);
	margin: {
		left: 0.5rem;
	}
	opacity: 0;

	.experience:hover & {
		opacity: initial;
	}
}
