@import '../styles/scaling.scss';
@import '../styles/breakpoints.scss';

.header {
	width: 100%;

	@include breakpoint-xs {
		margin-bottom: spacer(4);
	}

	@include breakpoint-lg {
		margin-bottom: spacer(6);
	}
}
