<!DOCTYPE html>
<html lang="en">

{% include head-bean.html %}

<body>
  {{ content }}
  <!--Footer-->
  <footer class="page-footer center-on-small-only unique-color-dark pt-0">
    <section id="social-icons" class="text-center">
      <!-- Social buttons -->
      <a type="button" class="btn-floating btn-lg btn-tw waves-effect" href="https://twitter.com/AGuyWithAMustac">
          <i class="fab fa-twitter"></i>
      </a>
      <a type="button" class="btn-floating btn-lg btn-git" href="https://steamcommunity.com/id/Quigi">
          <i class="fab fa-steam-symbol"></i>
      </a>
      <a type="button" class="btn-floating btn-lg reddit" href="https://www.reddit.com/user/AGuyWithAMustache">
        <i class="fab fa-reddit-alien"></i>
    </a>
      <a type="button" class="btn-floating btn-lg btn-email" href="mailto:mineturtlegod968@gmail.com">
          <i class="far fa-envelope"></i>
      </a>
      <!-- Social buttons -->
  </section>
    <!--Copyright-->
    <div class="footer-copyright">
      <div class="container-fluid">
        Copyright 2018 Jonah Snider
      </div>
    </div>
    <!--/.Copyright-->
  </footer>
  <!--/.Footer-->
</body>
{% include scripts.html %}

</html>