<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	{% include navbar.html %}

	<section id="content" class="section">
		<div class="container">
			<div class="tile is-ancestor">
				<div class="tile is-vertical is-8">
					<div class="tile">
						<div class="tile is-parent is-vertical">
							<article class="tile is-child notification is-success">
								<p class="title">Dice</p>
								<p class="subtitle">A general purpose utility Discord bot. Dice has served over 2.6 thousand users.</p>
							</article>
							<article class="tile is-child notification is-info">
								<a href="https://sjhsboosterclub.netlify.com">
									<p class="title">SJHS Booster Club Website</p>
								</a>
								<p class="subtitle">Featuring a management panel and created with the
									<a href="https://bulma.io">Bulma CSS framework</a>.</p>
							</article>
						</div>
						<div class="tile is-parent">
							<article class="tile is-child notification is-danger">
								<a href="https://github.com/blazingbulldogs/FRC2018_581">
									<p class="title">Team 581 Blazing Bulldogs</p>
								</a>
								<p class="subtitle">During the 2017-2018 season I served as one of the programmers specializing in image recognition.</p>
							</article>
						</div>
					</div>
				</div>
			</div>
	</section>

	{% include footer.html %}
</body>

</html>
