<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	{% include navbar.html %}

	<section class="hero is-{{ site.data.settings.color }} section">
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1 class="title">
					{{ page.title}}
				</h1>
			</div>
		</div>
	</section>

	<section class="section" id="clubWebsiteNotification">
		<div class="notification is-info">
			Want a website for your club or organization? You probably want to see the <a href="/club-website">club website</a> page. It has several plans for your group's website including hosting and a content management panel.
		</div>
	</section>
	
	<section class="section">
		<content>
			{{ page.content | markdownify }}
		</content>
	</section>

	<section id="contact" class="section">
		{% include contact.html %}
	</section>

	{% include footer.html %}
</body>

</html>
